.wrap {
  background-color: white;
  width: 80%;
  margin: 2rem auto;
  padding: 2rem 0;
  box-shadow: 6px 6px 6px gray;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  color: #90b8e5;
  font-family: "Varela Round", sans-serif;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 2rem;
}

.middle-container {
  display: flex;
  flex-direction: column;
  width: 82%;
}

.right-container {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
}

.label-font {
  font-size: 28px;
  font-weight: 800;
}

.name-container {
  margin-top: 0.5rem;
}

.post-container {
  margin-bottom: 5.5rem;
}

.input-field-style {
  resize: none;
  border-color: 1px solid gray;
  border-radius: 20px;
  padding: 0.5rem;
}

.name-input-field {
  font-family: "Varela Round", sans-serif;
  height: 2.5rem;
  font-size: 28px;
  font-weight: 800;
  color: #90b8e5;
}

.post-input-field {
  font-family: "Varela Round", sans-serif;
  margin-top: 2rem;
  font-size: 26px;
  font-weight: 400;
  color: #90b8e5;
  height: 180px;
}

.right-container button {
  margin-top: 15rem;
  height: 50px;
  background-color: #82a6cf;
  color: #f7ff84;
  border-style: none;
  border-radius: 20px;
  width: 8rem;
  font-size: 26px;
  font-weight: 600;
  font-family: "Varela Round", sans-serif;
}

.right-container button:hover {
  border: 3px solid #82a6cf;
  color: #f7ff84;
}

.right-container button:active {
  background-color: #f7ff84;
  color: #82a6cf;
}
