.wrap {
  background-color: rgb(255, 255, 255);
  margin: auto;
  border-radius: 40px;
  box-shadow: 6px 6px 6px #c0c0c0;
  margin: 2em 10%;
  padding: 2em;
  color: #82a6cf;
  font-size: 28px;
  font-family: "Varela Round", sans-serif;
}

.name-text {
  font-weight: 800;
  margin-bottom: 1em;
}

.post-text {
  font-weight: 400;
  margin-bottom: 1em;
  padding-bottom: 1em;
  margin-right: 4em;
  border-bottom: 2px solid #82a6cf;
}
