.navbar-container {
  height: 160px;
  background-color: #7b9dc3;
  color: #ffffff;
  text-align: center;
  font-size: 36px;
  font-family: "Varela Round", sans-serif;
}

.logo-text {
  padding-top: 3rem;
}

.muted-text {
  color: #f7ff84;
}
